html {
  height: 70%;
}

body {
  height:100%;
}

section {
  border-radius: 5px;
}
.control-panel {
  display: flex;
  width: 100%;
  height: 100%;
  background: #515151;
  text-align: center;
  align-items:center;
  height:550px;
  /* height: 600px; */
}


/* This is the readout section */
.readout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* flex: 3; */
  width: 60%;
  height: 70%;
  /* padding: 100px;
  padding-right: 50px;
  padding-left: 50px;
  margin: 10px; */
  background: #95abc5;
  text-align: center;
  /* flex-grow: 6; */
  border-radius: 5px;
  position: relative;
  margin: 4px;
}

input#xvar {
  border: 1px solid #978484!important;
  border-radius: 5px;
  height: 50px;
  width:80px;
}

input#zvar {
  border: 1px solid #978484!important;
  border-radius: 5px;
  height: 50px;
  width: 80px;
}

label {
  font-size: 20px;
}

input {
  font-family:Helvetica, Arial, sans-serif;
  font-size:15pt;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 5px  rgba(0,0,0,0.1),
          0 0 8px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 12px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 12px rgba(0,0,0,0.1);
  /* padding: 15px; */
  background: rgba(255,255,255,0.5);
  /* margin: 0 0 10px 0; */
}

input#coord-buffer {
  width: 65%;
  height: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* This is the XZ input section */
.xz-input {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex: 1; */
  height: 20%;
  /* margin-top: 150px; */
  border-radius: 10px;
  /* margin: auto; */
  background: #3a3732;
  margin: 4px;
}

.XZbutton {
  background: #ecd2af;
  border: none;
  color: white;
  height: 48px;
  width: 80px;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
  font-size: 16px;
  margin: 7px 5px;
  cursor: pointer;
}

.XZbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#Zbutton {
  background: #55504a;
}

#mode {
  background-color: #657a8f;
}


/* This is the button-control seciton*/

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 50%;
  flex: 2;
  background: #3a3732;
  border-radius: 5px;
  margin: 4px;
  /* margin: 150px 5px; */
}

.row {
  display: flex;
  flex-direction: row;
}

.sbutton {
  background-color: #657a8f;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
  font-size: 12px;
  margin: 4px 5px;
  font-weight: bold;
  cursor: pointer;
}
.sbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.subbutton {
  background-color: #657a8f;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
  font-size: 14px;
  margin: 4px 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 8px;
}

#FC {
  padding: 10px 22px;

}

#IncSet {
  padding: 10px 8px;
  background-color: #ecd2af;
}

#AbsSet {
  padding: 10px 8px;
  background-color: #ecd2af;
}

.fbutton {
  background-color: #657a8f;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
  font-size: 16px;
  margin: 2px 5px;
  font-weight: bold;
  cursor: pointer;
}
.fbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonp {
  border-radius: 7px;
  background-color: #657a8f;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 5px;
  cursor: pointer;
  font-weight: bold;
}

.buttonp:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonr {
  border-radius: 7px;
  background-color: #657a8f;
  border: none;
  color: white;
  padding: 5px 44px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 5px;
  cursor: pointer;
  font-weight: bold;
}
.buttonr:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttona {
  border-radius: 7px;
  background-color: #ecd2af;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: pointer;
  font-weight: bold;
}

.buttona:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttond {
  border-radius: 7px;
  background-color: #657a8f;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 5px;
  cursor: pointer;
  font-weight: bold;
}

.buttond:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.video{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 7px;
  background-color: #657a8f;
  display: flex;
  flex-direction: column;
}

/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: scroll;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 40%;
  background-color: white;
}

/* Control the right side */
.right {
  right: 0;
  width: 60%;
  background-color: black;
  display:flex;
  justify-content:center;
  flex-direction:column;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 500px;
  border-radius: 50%;
}

.h2 {
  color: white;
}

#myContainer{
  zoom: 0.5;
  -moz-transform: scale(0.5);
}
.videoList_1, .videoList_2, .videoList_3, .videoList_4, .videoList_5, .videoList_end{
  display: none;
}
