html {
  height: 70%;
}

body {
  height:100%;
}


.split.right {
    background: #515151;
}

section {
  border-radius: 5px;
}

p {
  text-align: left;
}

.leftControlBtn {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  height: 75%;
}

.rbtn1 {
    background: black;
    border: none;
    margin-top: 30px;
    height: 30px;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
}

button#sys {
    color: white;
    background: transparent;

}

button#help {
    color: white;
    background-color: #657a8f;
}

button#back {
    color: white;
    background-color: #ecd2af;
}
button#upbtn,button#downbtn {
    background: transparent;
}

img#blogo {
    width: 70%;
}

.control-panel {
  display: flex;
  width: 100%;
  height: 100%;
  background: #515151;
  text-align: center;
  align-items: center;
  /* height: 600px; */
}


.readout-full{
  display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      width: 55%;
      height: 80%;
      background: black;
      border-radius: 5px;
}

img#readout-logo {
    width: 80%;
        height: 10%;
    border-radius: 5px;
}


.logo {
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* border-radius: 19px; */
}

img#redbtn {
    width: 20%;
    padding: -4px;
    padding-bottom: 20px;
    height: 10%;
}

/* This is the readout section */
.readout {
  display: flex;
      flex-direction: column;
      /* flex: 3; */
      width: 98%;
      margin-left: 5px;
      height: 88%;
      background: #cececf;
      text-align: center;
      /* flex-grow: 6; */
      border-radius: 5px;
      position: relative;
      justify-content: space-between;
      /* margin: 4px; */
}

.readou-button {
  height: 8%;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  flex-direction: row;

}

img#rbtnimg {
    height: 38px;
}
.rbtn{
  background: black;
  border: none;
  margin-top: 15px;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
  cursor: pointer;
}

input#xvar {
  border: 1px solid #978484!important;
  border-radius: 5px;
  height: 50px;
  width:120px;
    margin:40% 0 0 0;
}

input#zvar {
  border: 1px solid #978484!important;
  border-radius: 5px;
  height: 50px;
  width: 120px;
    margin:0 0 10% 0;
}

label {
  font-size: 20px;
}

.XZ-coord {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_row1 {
    display: flex;
      flex-direction: row;
      height: 50%;
      align-items: flex-start;
      justify-content: space-between;
      /* margin: 0 10% 0; */
}

p#p1 {
    width: 30%;
    margin-left: 5px;
}

p#p2 {
    width: 30%;
    margin-left: 29px;
}

label#tx1 {
    font-size: 10px;
}
input#rpm {
    width: 30%;
}
input#overrite {
    width: 30%;
}
input#frate {
  width: 30%;
}
.text-field {
  display: flex;
  flex-direction: column;
  width: 100%;
      height: 20%;
}


input {
  font-family:Helvetica, Arial, sans-serif;
  font-size:15pt;
  /* border: 5px solid white; */
  -webkit-box-shadow:
    inset 0 0 5px  rgba(0,0,0,0.1),
          0 0 8px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 12px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 12px rgba(0,0,0,0.1);
  /* padding: 15px; */
  background: rgba(255,255,255,0.5);
  /* margin: 0 0 10px 0; */
}

input#buffer {
    width: 35%;
    height: 4%;
    position: absolute;
    bottom: 58px;
    right: 0;
}

.fnumber {
    display: flex;
    width: 12.5%;
    height: 100%;
    flex-direction: column;
    margin-top: 19px;
}

.function {
    height: 16%;
    display: flex;
}

label#h1 {
    font-size: 12px;
}

textarea {
  resize: none;
  /* text-align: center; */
  font-size: 10pt;
  background-color: #e7e7e7;
}

/* This is the XZ input section */
.xz-input {
  font-size: 14px;
  display: flex;
  margin-left: 6px;
  flex-direction: column;
  align-items: flex-start;
  width: 11%;
  justify-content: space-between;
  /* flex: 1; */
  height: 55%;
  /* margin-top: 150px; */
  border-radius: 10px;
  /* margin: auto; */
  background: #3a3732;

}

.XZbutton {
  background: #ecd2af;
  border: none;
  color: white;
  height: 40px;
  width: 51%;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
  font-size: 16px;
  margin: 7px 5px;
  cursor: pointer;

}


.accessory{
  display: flex;
  width: 51%;
  height: 30px;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 5px;
}

div#firtbtn {
    height: 45px;
}

label#button-header {
    color: white;
    font-size: 14px;

}

label#button-header1 {
    color: white;
    font: 10px;
    font-size: 14px;
}

button#mode {
    clip-path: polygon(0 42%, 100% 10%, 100% 90%, 0 69%);
    border-radius: 0px;
    width: 67%;
    font-size: 12px;
    font-weight: 600;
    margin-top: 39px;
  }

.accbutton {
    background: #ecd2af;
    border: none;
    /* color: white; */
    height: 100%;
    width: 100%;
    /* padding: 0px 10px; */
    /* text-align: center; */
    /* text-decoration: none; */
    display: inline-block;
    border-radius: 7px;
    font-size: 16px;
    /* margin: 7px 5px; */
    cursor: pointer;
  }

button#Xbutton, #Zbutton {
    align-self: flex-end;

}

#lookdiv{
  margin-top: 0px;
}

#Zbutton {
  background: #55504a;
}

#mode {
  background-color: #657a8f;
}


/* This is the button-control seciton*/

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
  flex: 2;
  background: #3a3732;
  border-radius: 5px;
}

.leftKeybord {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: 90%;
  flex: 2;
  border-radius: 5px;
  margin-left: 5px;
}


.row3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    background: #3a3732;
    width: 100%;
    margin-top: 7px;
    clip-path: polygon(47% 0, 56% 15%, 100% 14%, 100% 100%, 0 100%, 0 0);
}

.row4{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background: #3a3732;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.btn{
  display: flex;
  flex-direction: row;
  width:100%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
}

.sbutton {
  background-color: #657a8f;
  border: none;
  color: white;
  width:33.3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
  font-size: 12px;
  margin: 4px 5px;
  font-weight: bold;
  cursor: pointer;
  background-image: url("res/imgs/UA.png");
  background-repeat:no-repeat;
}
.sbutton:hover, .rbtn:hover, .rbtn:hover, .accbutton:hover, .fbutton:hover, .subbutton:hover, .XZbutton:hover,
.rbtn1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* padding-top: 12px;
clip-path: polygon(47% 0, 56% 15%, 100% 14%, 100% 100%, 0 100%, 0 0); */

.subbutton {
  background-color: #657a8f;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
  font-size: 14px;
  margin: 4px 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 8px;


}

#FC {
  padding: 10px 22px;

}

#IncSet {
  padding: 10px 8px;
  background-color: #ecd2af;
}

#AbsSet {
  padding: 10px 8px;
  background-color: #ecd2af;
}

#rev {
    padding: 10px 19px;
}

#off {
    padding: 10px 19px;
    background: #fc494a;
}

#FWD {
    padding: 6px 21px;
}

#FS {
    padding: 6px 21px;
}

#UP {
  padding: 6px 12px;
  background-color: #ecd2af;
}

#DOWN {
        padding: 6px 16px;
}

#GO {
    padding: 10px 23px;
    width: 50%;
}

#STOP {
    padding: 10px 16px;
    background: #fc494a;
    width: 50%;
}
#row1{
  width:20%
}

#firstrow {
    width: 60%;
    margin-right: 72px;
}
#SPINDLE{
  font-size: 14px;
  color: white;
  padding-left: 5px;
  padding-top: 3px;
}


.fbutton {
  background-color: #657a8f;
  border: none;
  color: white;
  padding: 10px 28px;
  width: 33.3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
  font-size: 16px;
  margin: 2px 5px;
  font-weight: bold;
  cursor: pointer;
}

#restorebtn{
    width:67.7%;
    background-color: #657a8f;

}

#abtn{
    background-color: #ecd2af;
}


.video{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 7px;
  background-color: #657a8f;
  display: flex;
  flex-direction: column;
}

/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: scroll;
}

/* Control the right side */
.right {
  right: 0;
  width: 60%;
  background-color: black;
  display:flex;
  justify-content:center;
  flex-direction:column;
}

/* Control the left side */
.left {
  width: 40%;
  background-color: white;
  text-align: center;
  overflow-y: scroll;
}

#title {
  font-size: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 3%;
}

#cover {
  display: block;
  margin: auto;
  width: 80%;
  height: 50%;
}

#player {
  /* display property set programmatically */
  margin: auto;
  width: 30em;
  height: 20em;
}

#description {
  font-size: 1em;
  padding-left: 5%;
  padding-right: 5%;
  font-family: Helvetica, Arial, sans-serif;
}

#btn-submit {
  display: table-cell;
  background-color: #657a8f;
  border: none;
  color: white;
  padding: 0.9% 1.2%;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#Timer {
  background-color:#419D78;
  color:#EFD0CA;
  font-size:20px;
  text-align:center;
}

#group3 {
  background-color: #black;
}
