html{
  height: 70%;

}

body{
  height:100%;
}

section{
  border-radius: 5px;
}
.control-panel {
  display: flex;
  background: #231f1c;
  height: 600px;
}


/* This is the readout section */
.readout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 3;
  padding: 100px;
  padding-right: 50px;
  padding-left: 50px;
  margin: 10px;
  background: #f8f7f5;
  text-align: center;
  flex-grow: 6;
  border-radius: 5px;
  position: relative;
}

input#xvar {
    border: 1px solid #978484!important;
    border-radius: 5px;
    height: 50px;
    width: 230px;
}

input#zvar {
    border: 1px solid #978484!important;
    border-radius: 5px;
    height: 50px;
    width: 230px;
}
label{
    font-size: 35px;
}

input {
    font-family:Helvetica, Arial, sans-serif;
    font-size:25pt;
    border: 5px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

input#coord-buffer {
  font-size: 1em;
  width: 50%;
  height: 2%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1em;
}

/* This is the XZ input section */
.xz-input{
  display: flex;
  align-items: center;
  flex: 1;
  height: 180px;
  margin-top: 150px;
  border-radius: 10px;
  flex-direction: column;
  /* margin: auto; */
  background: #3a3732;
}

.XZbutton{
  background: #ecd2af;
      border: none;
      color: white;
      height: 48px;
      width: 98px;
      padding: 0px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 7px;
      font-size: 16px;
      margin: 7px 5px;
      cursor: pointer;
}
.XZbutton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#Zbutton{
  background: #55504a;
}

#mode{
  background-color: #657a8f;
}


/* This is the button-control seciton*/

.keyboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 2;
  background: #3a3732;
  border-radius: 5px;
  margin: 150px 5px;
}

.row{
  display: flex;
  flex-direction: row;
}

.sbutton {
  background-color: #657a8f;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
  font-size: 16px;
  margin: 4px 5px;
  font-weight: bold;
  cursor: pointer;
}
.sbutton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#FC {
  padding: 12px 36px;

}

#IncSet{
  padding: 12px 18px;
  background-color: #ecd2af;
}

#AbsSet {
  padding: 12px 18px;
  background-color: #ecd2af;
}

.fbutton {
  background-color: #657a8f;
  border: none;
  color: white;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
  font-size: 16px;
  margin: 4px 5px;
  font-weight: bold;
  cursor: pointer;
}
.fbutton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonp {
  border-radius: 7px;
  background-color: #657a8f;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: pointer;
  font-weight: bold;
}
.buttonp:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttonr {
  border-radius: 7px;
  background-color: #657a8f;
  border: none;
  color: white;
  padding: 15px 65px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: pointer;
  font-weight: bold;
}
.buttonr:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttona {
  border-radius: 7px;
  background-color: #ecd2af;
  border: none;
  color: white;
  padding: 15px 47px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: pointer;
  font-weight: bold;
}
.buttona:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttond {
  border-radius: 7px;
  background-color: #657a8f;
  border: none;
  color: white;
  padding: 15px 47px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: pointer;
  font-weight: bold;
}
.buttond:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
